<html>
<head>
    <title>CaroH - Online caro game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    
    <%- include('style') -%>
    
</head>
<body>
    <img src="avatar/50.png" alt="CAROH" class="game_img">
    <div class="form_login">
        <form action="home" method="post">
            <h1 class="game">CAROH</h1>
            <h1>GAME LOGIN</h1>
            <div class="container">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>    
                <br>        
                <button type="submit">Login</button>            
                <h3 style="text-align: center;color: #6db5ca;">OR</h3>            
                <a class="signup-button" onclick="window.location='/signup-web';">Sign up</a>
                <br>
                <br>
            </div>
        </form>    
    </div>    
    <%- include('footer') -%>    
</body>
</html>
